
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Helvetica;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #4a678f;
  text-decoration: none;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;

}

p {
    color: #4a678f;
}

/* Header Styles */

header {
  background-color: white;
  color: #FFFDD0;
}

header h1 {
  margin: 0;
  font-size: 48px;
}

header p {
  margin: 0;
  font-size: 24px;
}

/* Navigation Styles */

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

nav a {
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 30px;
}

nav li:last-child {
  margin-right: 0;
}

/*mobile*/
@media (max-width: 768px) {
	nav ul{
		flex-direction: column;
	}
	
	nav li {
		width: 100%;
		margin: 0.5rem 0;
		height: auto; /* reset height */
          border-bottom: 1px solid #f2f2f2;
	}
}

.nav-logo {
    margin-left: 80px;
    width: 200px;
    height: 100px;
}
.nav-logo img {
    max-width: 100%;
    max-height: 100%;
}

#banner {
  background-image: url('./winter-solar-wind.jpg'); 
  background-color: #f2f2f2;
  background-size: cover;

  background-position: center;
  height: 700px;
  width: 100%;
  position: relative;
}

.banner-container {
}

.mission {
  width: 50%;
  position: relative;
  display: inline-block;
  margin-top:40px;
  font-weight: bold;
  font-size: 2rem;
  text-align: left;
  font-family: Helvetica;
  color: white;
  padding: 20px;
  font-style: italic;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}



/* About Section Styles */

#about {
  background-color: white; 
  width: 100%;
  height: 100%;
  padding: 40px;

}
#about p {
  font-family: Helvetica;
  font-size: 1.4rem;
  color:#4a678f;
}

/* Types of Work Section Styles */

hr.white {
    border-top: 2px solid white;
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
}

#types-of-work {
  background-color: #4a678f;
  color: white;
  padding: 40px;
}

#types-of-work h2 {
  margin-top: 0;
  font-size: 32px;
  text-align: right;
  font-weight: bold;
}

#types-of-work h3 {
  margin-top: 0;
  font-size: 24px;
  padding-top: 5px;
  text-align: center;
}

#types-of-work ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

#types-of-work li {
    font-size: 24px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
	padding: 1rem;
	box-sizing: border-box;
    margin: 0 0.5rem;
}

.types-of-work-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border: 2px solid white;
    border-radius: 50%;
    color: white;
}



.types-of-work-logo.selected {
    border: 2px solid #4a678f;
    color: #4a678f;
}

.type {
  border-radius: 25px;
  border: 2px solid #4a678f;
}

.type.selected {
    background-color: white;
    color: #4a678f;
}

.type.selected .types-of-work-logo {
    border: 2px solid #4a678f;
    background-color: white;
    color: #4a678f;
}

.type:hover {
    background-color: white;
    color: #4a678f;
}

.type:hover .types-of-work-logo {
    border: 2px solid #4a678f;
    background-color: white;
    color: #4a678f;
}

.type-of-work-info {
  margin-top: 20px;
  border-radius: 25px;
  background-color: white;
}

#type-of-work-info-text {
    color: #4a678f;
    padding: 30px;
    padding-left: 20px;
    padding-left: 30px;
    font-size: 20px;
}


#types-of-work h3 {
  margin-top: 0;
  font-size: 24px;
  padding-top: 5px;
  text-align: center; 
}

@media (max-width: 768px) {
	#types-of-work ul {
		flex-direction: column;
	}
	
	#types-of-work li {
		width: 100%;
		margin: 0.5rem 0;
		height: auto; /* reset height */
	}
}

/* Testimonials section */
hr.green {
    border-top: 2px solid #4a678f;
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
}
.testimonial p {
    font-size: 1.2rem;
    font-style: italic;
    margin-bottom: 20px;
    color: #4a678f;
}

#testimonials h2 {
    font-size:32px;
    margin-bottom: 10px;
    color: #4a678f;
    font-weight: bold;
}
.testimonial h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #4a678f;
}
#testimonials {
  padding: 40px 0;
  box-sizing: border-box;
  max-width:100%;
}
.testimonial-box {
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 30px;
}
.testimonial {
  display: flex
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.testimonial-text {
  margin-bottom: 30px;
}
.testimonial-text p {
    word-wrap: break-word;
    white-space: pre-wrap
}
.testimonial-author {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonial-author h3 {
  margin-bottom: 5px;
}
.testimonial-author span {
  font-style: italic;
}
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-wrapper {
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    display: flex;

}
.swiper-slide {
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
    align-self: stretch;
}

.swiper-button-next, .swiper-button-prev {
  color: #4a678f;
  font-size: 25px;
  font-weight: 700;
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.swiper-button-next {
    transform: translateX(40%);
}

.swiper-button-prev {
    transform: translateX(-40%);
}

.swiper-pagination-bullet-active {
  background-color: #4a678f !important;
}

.swiper-slide { width: 80% }

/* Clients Section Styles */
hr.blue {
    border-top: 2px solid #4a678f;
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
}

#clients {
  background-color: #f2f2f2;
  padding: 40px;
}

#clients h2 {
  margin-top: 0;
  text-align: center;
  font-size: 32px;
  color: #4a678f;

    font-weight: bold;
}


.clients-container {
  background-color: #FFFDD0;
  text: white;
}

.client {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.client img {
  width: 200px;
  height: auto;
  margin: 0 30px;
}

.client-link {
  text-decoration: none;
  font-size: 20px;
  color: black;
  transition: all 0.2s ease-in-out;
}

.client-link:hover {
  color: #006666;
}

.client-categories {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.client-category {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
	padding: 5px;
	box-sizing: border-box;
}

.client-category.left-border {
    border-left: 2px solid #4a678f;

}

.client-category.right-border {
    border-right: 2px solid #4a678f;
}

.client-category ul {
    padding-inline-start: 15px;
    list-style-type: none;
}


.client-category ul li {
    color: #4a678f;
}
 
.client-category h3 {
    color:#4a678f;
  font-size: 24px;
  border-bottom: 2px solid #4a678f;
}

@media (max-width: 768px) {
	.client-categories {
		flex-direction: column;
	}
	
	.client-category {
		width: 100%;
		margin: 0.5rem 0;
		height: auto; /* reset height */
	}

    .client-category.left-border {
        border-left: none;

    }

    .client-category.right-border {
        border-right: none;
    }
}

.client-logo {
    margin-top: 20px;
    width: 150px;
    height: 50px;
}
.client-logo img {
    max-width: 100%;
    max-height: 100%;
}


/* Footer Style Section */
.footer {
  background-color: #4a678f;
  font-size: 20px;
  color: white;
}

.footer .container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.footer .container .row {
  margin: auto;
}

.footer .info p {
  margin-bottom: 10px;
  color: white;
}

.footer .info a {
  margin-bottom: 10px;
  color: white;
}

i.fab.fa-linkedin {
  font-size: 40px;
  color: white;
  margin-top: 10px;
}


.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo img {
  height: 80px;
  width: 120px;
}

/*mobile*/
@media (max-width: 768px) {
	.footer .container{
		flex-direction: column;
	}
}

